<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile',user: @book.user %>

		<h2>New book</h2>
		<%= render 'books/newform',book: @booknew %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class='table'>
	      <tr>
			
			<%= render partial: 'show', locals: { book: @book} %>

		  </tr>
		</table>

		<ul id="comments_area">
			<%= render partial: 'comments/index', locals: { book: @book} %>

			<%= render partial: 'comments/form', locals: { book: @book,comment: @comment} %>

        </ul>
	</div>

</div>
